<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h3 class="text-center text-green">Gégé, et mes activités ?</h3>
  </div>
  <div class="col-xs-4 col-xs mt mb+">
    <div class="text-center">
      <%= link_to "+ Ajouter une activité", new_activity_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="row">
  <% @activities.each do |activity| %>
    <div class="col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(activity.image) %>);">
        <div class="card-category"></div>
        <div class="card-description">
          <h2><%= activity.title %></h2>
          <p><%= t("activerecord.attributes.activity.statuses.#{activity.status}") %></p>
        </div>
          <%=  link_to '', activity_path(activity), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>


